body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}
.fact_card {
  background-color: pink;
  width: 200px;
  height: 100px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
  overflow: auto;
  margin-right: 10px;
}

.footer {
  width: 100vw;
  position: fixed;
  bottom: 0;
  height: 40px;
  background-color: goldenrod;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brojevi {
  display: inline;
  margin-right: 0.5rem;
  font-size: 25px;
}

/* .brojevi:first-child {
  color: red;
} */

.current-acitve {
  color: red;
}

.pageNumbers {
  cursor: pointer;
}

.next {
  display: inline;
}
.prev {
  display: inline;
}
